<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
     <link rel="stylesheet" href="/styles/styles.css"/>
  </head>
  <body>
    {{>navbar}}
    <div
      style="width:100%; display: flex;justify-content: center; align-items: center;"
    >
      <div
        style="padding:10px;background-color: rgb(22, 128, 235);"
      >

        <h1 style="color: blanchedalmond;font-size:60px">Page Couldn,t found</h1>
      </div>
    </div>
  </body>
</html>