<div
	class="h-96 md:max-w-sm p-6 bg-fuchsia-950 border-2 border-slate-200 rounded-lg opacity-75 flex flex-col justify-between"
>
	<h1 id="daybtn" class="text-2xl font-medium font-sans text-white">Sunday</h1>
	<div class="flex justify-end pr-4">
		<img
			id="iconbtn"
			src="http://openweathermap.org/img/w/02n.png"
			alt="weather icon"
			width="150"
			height="150"
		/>
	</div>
	<div class="space-y-2">
		<h1 id="tempbtn" class="text-3xl font-medium font-sans text-white">20 ℃</h1>
		<h1 id="condbtn" class="text-xl font-medium font-sans text-white">Clear</h1>
		<h1 id="datebtn" class="text-xl font-medium font-sans text-white">Jan 1,
			2024</h1>
	</div>
</div>